.logotype {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #000000;
}

.logotype_web {
  color: var(--accent-color);
}

.logotype_studio {
  color: #ffffff;
}